.idea

/node_modules
/package-lock.json

venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
front/clients/build/
*.egg-info/

flask_session

front/clients/build
front/clients/public/image